<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        About
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding>
  <ion-card>
      <ion-card-content>
          <ion-card-subtitle>The people who contributed to this project are:</ion-card-subtitle>
        <ion-item>
          Paul A. (<a href="https://twitter.com/PaulWebSec">@PaulWebSec</a>)
        </ion-item>
        <ion-item>
          Luca B. (<a href="https://twitter.com/LucaBongiorni">@LucaBongiorni</a>)
        </ion-item>
        <ion-card-header>
            <ion-card-subtitle>Want to contribute?</ion-card-subtitle>
          </ion-card-header>
        <ion-item>
            This application is fully open-source at:&nbsp;<a href="https://github.com/whid-injector/WHID-Mobile-Connector">https://github.com/whid-injector/WHID-Mobile-Connector</a>.
        </ion-item>
        <ion-card-header>
            <ion-card-subtitle>Found a bug?</ion-card-subtitle>
          </ion-card-header>
        <ion-item>
            You can submit a bug report on:&nbsp;<a href="https://github.com/whid-injector/WHID-Mobile-Connector/issues">https://github.com/whid-injector/WHID-Mobile-Connector/issues/</a>.
        </ion-item>

      <ion-card-header>
          <ion-card-subtitle>License/disclaimer</ion-card-subtitle>
        </ion-card-header>
      <ion-item>
          The code has been released under GPLv3. We are not being responsible for people hacking random targets without permission to attack.
      </ion-item>
  </ion-card-content>
  </ion-card>
</ion-content>
