* {
    ion-slide {
        display: block;
        // background-color:rgb(184, 175, 175);
        // background-color: #32db64;
    }

    .slide-image {
        height: 300px;
        width: auto;
        margin-top: 100px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
}
