  <ion-content>
    <ion-slides class="slides" pager="true">
      <ion-slide>
        <img src="/assets/icon/logo.png"
          class="slide-image" />
        <div padding>
          <h2 class="slide-title">
            Welcome to
            <b>WHID Project</b>
          </h2>
          <p>
            The
            <b>WHID app</b> allows you to smoothly control your WHID.
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="/assets/img/intro/slide_1.png"
          class="slide-image" />
        <div padding>
          <h2 class="slide-title">Requirements</h2>
          <p>
            <b>Before using the application</b>, make sure that you already connected to your WHID gadget in order to launch commands.</p>
        </div>
      </ion-slide>

      <ion-slide>
          <img src="/assets/img/intro/slide_2.png"
          class="slide-image" />
        <div padding>
          <h2 class="slide-title">Connection status</h2>
          <p>
              <b>During an engagement</b>, you can monitor if you are still connected to the WHID. <b style="color: red">Red</b> means that you don't. <b style="color: blue">Blue</b> means that you can start pwning!</p>
        </div>
      </ion-slide>

      <ion-slide>
          <img src="/assets/img/intro/slide_3.png"
          class="slide-image" />
        <div padding>
          <h2 class="slide-title">Questions?</h2>
          <p>
            We are on Twitter <b>@WHID_Injector</b> and the app is open-source on our Github so feel free to join the <b>community</b>!
          </p>
          <ion-button (click)="goToHome()">Start pwning!</ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>