<ion-header>
  <ion-toolbar>
    <ion-title>Exfiltrated Payloads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list> 
    <ion-item *ngFor="let item of exfiltratedData">
      <ion-icon [name]="bonfire" slot="start"></ion-icon>
      <div class="item-note" (click)=view(item)>
          {{item}}
      </div>
      <!-- <ion-button color="danger" slot="end" (click)="delete(item)"><ion-icon name="trash"></ion-icon></ion-button> -->
    </ion-item>
  </ion-list>
  <ion-card *ngIf="exfiltratedData.length == 0">
    <ion-card-header>
      <ion-card-title>No exfiltrated data (yet...) :(</ion-card-title>
      <ion-card-subtitle>Snap! Seems you've got no exfiltrated data but you're not that far away from getting one! </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
          <!-- <ion-button (click)="passPayloadToLiveMode(null)">Create payload</ion-button>
        <ion-row>
          <ion-col>
            <ion-button (click)="sendText()" [disabled]="command.length == 0">Send Text</ion-button>
          </ion-col>
          <ion-col>
              <ion-button (click)="sendTextAndEnter()" [disabled]="command.length == 0">Send Text + Enter</ion-button>
          </ion-col>
        </ion-row> !-->
    </ion-card-content>
  </ion-card>
</ion-content>
